* {
    margin: 0 auto;
    font-weight: 400;
}

@font-face {
    font-family: "Linked";
    font-weight: 700;
    src: url("font/Linked-Regular.woff") format("woff2");
}
@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 500;
    src: url("font/JetBrainsMono-Medium.woff2") format("woff2");
}
@font-face {
    font-family: 'MonoplexKR-Regular';
    font-weight: 400;
    src: url("font/MonoplexKR-Regular.ttf") format("woff2");
}
* {
    font-family: 'MonoplexKR-Regular';
    font-family: 'JetBrains Mono';
}


body {
    background-color: black;
    color: white;
}

main {
    position: absolute;
    height: 80vh;

    top: 43vh;
    left: 8.8vw;
    
    margin-top: -25vh;

    text-align: center;
}

main #preview {
    text-align: center;
    resize: none;
    border: 0px solid;
    
    border-radius: 2vw;
    height: 59vh;
    width: 65vw; 
    background: none;
/*    background: #333;*/
    overflow: hidden;
    
    color: white;
    font-family: "Linked";
    font-size: 3vw;
    line-height: 1.8;
    letter-spacing: 1.5vw;
}

main #preview:focus {
    outline: none;
}

footer {
    position: absolute;
    bottom: 5vh;
    left: 50vw;
    width: 60vw;
    margin-left: -30vw;
    text-align: center;    
}
footer #glyphs {
    font-family: "Linked";
    font-size: 2vw;
    
    margin-bottom: 4vh;
    float: left;
    color: #555;
    
}
footer #copy {
    font-size: 1vw;
    color: #666;
    
    position: relative;
    left: 2vw;
    top: .3vh;
}

.arrow {
    height: 26vh;
}
#x_axis {
    position: fixed;
    top: -5vh;
    left: -15vw;
}
#y_axis {
    transform: rotate(90deg);
    position: fixed;
    top: -10vh;
    left: -55.4vw;
}

#func {
    color: white;
    position: absolute;
    font-size: 1vh;
    top: 20.3vh;
    left: 146vh;
}
#manual {
    font-size: 1.55vh;
}

#copy {
    color: gray;
    position: absolute;
    font-size: 1vh;
    top: 86.5vh;
    left: 43vh;
}
.lt {
    color: white;
}
.it {
    font-style: italic;
}
.gr {
    color: #aaa;
}
.bd {
    font-weight: 900;
    text-shadow: 0px 0px 20px white;
}
.popup {
    color: gray;
    position: absolute;
    font-size: 2vh;
    top: 15vh;
    left: 12vh;
    background: black;
    
    color: white;
    font-family: 'MonoplexKR-Regular';
    font-weight: 600;
    padding-top: 19vh;
    padding-left: 21vh;
    padding-right: 10vh;
/*    border: 5px solid white;*/
    width: 90vh;
    height: 51vh;
    word-break: keep-all;
    line-height: 1.8;
}
#info_popup {
    display: none;
}
#process_popup {
    display: none;
}