@font-face {
  font-family: "Linked";
  src: url(Linked-Regular.woff) format('woff')
}
* {
    margin: 0 auto;
}

main li {
    font-family: "Linked";
}
main #text {    
    position: relative;
    left: 50%;
    
    width: 80%;
    margin-top: 10%;
    margin-left: -40%;
    
    font-family: "Linked";
    font-size: 6rem;
}